.access_modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  border-radius: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #4d4d4d; /* Fallback color */
}

/* Modal Content */
.access_modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.filtro-tabla {
  display: inline-block;
  margin-right: 10px;
}

a.button.button-goback {
  float: left!important;
  color: #000000;
  margin-bottom: 2px;
  border-color: #000000;
  display: inline-flex;
}

a.button.button-goback:active {
  color: #000000;
  background-color: #3e8e41;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #9cce9c;
}

a.button.button-goback:hover {
  background: #d9d9d9;
}

a.button.button-accept {
  color: #ffffff;
  background: #000000;
  border-color: #000000;
  margin-bottom: 2px;
  display: inline-flex;
}

a.button.button-accept:active {
  color: #000000;
  background-color: #3e8e41;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #9cce9c;
}
a.button.button-accept:hover {
  color: #ffffff;
  background: #404040;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.access_modal-header {
  padding: 2px 16px;
  background-color: #c11616;
  color: white;
  border-radius: 13px 13px 0 0;
  height: 13px;
}

.access_modal-body {
  padding: 2px 16px;
  text-align: center;
}

.access_modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
