.delete_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 0px;
}

/* Modal Content */
.delete_modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 0px;
}


.filtro_tabla {
  margin-top: 0px;
  display: inline-block;
  margin-right: 10px;
}

.inicio_filtro {
  margin-top: 10px;
  border-top: 1px solid lightgrey;
  margin-bottom: 10px;
  padding-top: 10px;
}

.block_elem {
  display: inline-flex;
  margin-right: 30px;
  vertical-align: middle;
}

.row_2_elem {
  display: inline-block;
  width: 100%;
}

.default_spaced {
  width: 300px;
}

.rol_level_elem {
  width: 150px;
}

#button-accept-delete {
  color: #fff;
  background: #d45867;
  border-color: #d45867;
  margin-bottom: 2px;
}

#button-accept-delete:active {
  background-color: #d45867;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #d28b8b;
}
#button-accept-delete:hover {
  background: #d28b8b;
  border-color: #d28b8b;
}

#button-accept-delete.disabled {
  opacity: 0.6;
  /*cursor: not-allowed;*/
  pointer-events: none;
}

a.button.button-cancel {
  float: left!important;
  color: #000000;
  margin-bottom: 2px;
  line-height: normal;
  border-color: #000000;
}

a.button.button-cancel:active {
  color: #000000;
  background-color: #3e8e41;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #9cce9c;
}
a.button.button-cancel:hover {
  background: #d9d9d9;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.delete_modal-header {
  padding: 2px 16px;
  background-color: #d45867;
  color: white;
  border-radius: 0px;
  height: 13px;
}

.delete_modal-body {
  padding: 2px 16px;
  text-align: center;
}

.delete_modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
